@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* color: #fff; */
    transition: .3s ease;
}
html , body{
    height: 100%;
    width: 100%;
}
body {
    background-color: #f4f4f4;
  }
header{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 black;
}
nav{
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  color: #051732;
  font-size: 24px;
  transition: all .28s linear;
}
nav a:hover{
  transform: scale(1.5);
}
.logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(./assets/IMG_20231114_093353-01.jpeg.jpg);
  background-size: cover;
  /* background-position: ; */
  cursor: pointer;
}

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 90px);
  }

.d-f-al-c{
    display: flex;
    align-items: center;
}

.container{
    width: 350px;
    height: 450px;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    background: linear-gradient(120deg,#04f5b7,#50668f) ;


    .search{
        width: 100%;
        height: 80px;
        justify-content: space-around;
        padding: 0 10px;


        input{
            background-color: #fff;
            height: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #3c3c3c;
            padding: 4px 10px;
            border-radius: 10px;
        }
        button{
            width: 40px;
            height: 40px;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #fff;
            font-weight: 600;
            i{
                color: #000;
            }
        }
    }

    .img{
        width: 100%;
        height: 150px;
        justify-content: center;
    }
    .img img{
        height: 100%;
    }


    .wether-datas{
        width: 100%;
        height: 180px;

        .main-data{
            text-align: center;
            justify-content: center;
            flex-direction: column;
            .temprature{
                font-size: 50px;
            }
            .करन{
                font-size: 30px;
            }
        }
        .himidity-perent{
            justify-content: space-between;

            .humidity-img{
                width: 60px;
                height: 60px;
                overflow: hidden;

                img{
                    width: 80%;
                    filter: brightness(100);
                }
            }
            .speed-img{
                width: 60px;
                height: 60px;
                overflow: hidden;

                img{
                    width: 80%;
                }
            }
        }
    }

}


@media (max-width:659px) {
    nav{
        width: 35vw;
      }
}
